
<h1>Welcome to Bikes for All</h1>
<h2>Your source for Bikes everywhere</h2>

<div class="owl-carousel owl-theme">
    <div><%= image_tag("bike5.jpg", class:"img-responsive image") %></div>
    <div><%= image_tag("bike12.jpg", class:"img-responsive image") %></div>
    <div><%= image_tag("bike13.jpg", class:"img-responsive image") %></div>
    <div><%= image_tag("bike14.jpg", class:"img-responsive image") %></div>
</div>


<h1>This week's products</h1>

<div class="container-fluid" id="weekly-products">
  <div class="row justify-content-center">
    <% @products.each do |product| %>
    <div class="col-sm col-md-3" id="product-no">
      <%= link_to product do %>
      <%= image_tag(product.image_url, class:"img-responsive image") %>
      <% end %>
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p><%= product.price %></p>
      <center><%= link_to 'View Details', product_path(product.id), class:"product-link" %></center>
    </div>
    <% end %>
  </div>
</div>









