<!--<p id="notice"><%#= notice %></p>-->

<div class="row" data-product-id="<%= @product.id %>">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <% cache @product do %>
    <%= image_tag(@product.image_url, class: "img-thumbnail mx-auto d-block img-zoom", data_zoom_image: "@product.product_image.url") %>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <p>
      <strong><%= @product.name %></strong>
    </p>

    <p>
      <strong><%= @product.description %></strong>
    </p>
    <% end %>

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price: <%= number_to_currency(@product.price, :unit => "€") %></strong>
    </p>

    <p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></p>

    <p>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    </p>

  </div>

  <% if @product.comments.length > 0 %>
  <%#= @product.highest_rating_comment.body %>
  <% end %>
</div>


<%= render "new_comment" %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>

<div class="container-editing-links">
<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-outline-dark btn-sm" %> 
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark btn-sm" %>
<% end %>

<%= link_to 'Back', products_path, class: "btn btn-outline-dark btn-sm" %>
</div>
<%= will_paginate @comments %>

